body{
  background: lightcoral;
  font-family: system-ui;
  font-size: 2rem;
  margin: auto;
}

#container{
  position:fixed;
  top: 50%;
  left:50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

